@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	position: fixed;
	left: 800px;
	top: 15%;
	float: right;
	width: 20%;
}

footer {

}

header {

}

img {
	max-width: 75%;
}

main {
	position: fixed;
	left: 200px;
	top: 15%;
	width: 40%;

}

nav {

}

#copyright {
	
}

#main-container {
	position: fixed;
	left: 50px;
	top: 15%;
	float: left;
	width: 20%;
}