@import url('https://fonts.googleapis.com/css?family=Rakkas|Sanchez&display=swap');

/*
	Fonts used:
	font-family: 'Rakkas', cursive;
	font-family: 'Sanchez', serif;
*/

body {
	font-size: 16px;
	font-family: 'Sanchez', serif;
}

h1, h2, h3 {
	font-family: 'Rakkas', cursive;
}

aside {
	position: fixed;
	right: 150px;
	top: 15%;
	float: right;
	width: 20%;
}

footer {
	clear: both;
	font-size: small;
}

header {
	position: fixed;
	width: 100%;
	top: -20px;
	left: 20px;
}

img {
	max-width: 60%;
	overflow: hidden;
}

main {
	position: fixed;
	left: 200px;
	top: 15%;
	width: 42%;
	
}

nav {
	margin: 0;
	padding: 0;
	width: 25%;
}

#copyright {
	position: fixed;
	width: 100%;
	bottom: 2px;
}

#main-container {
	position: fixed;
	left: 20px;
	top: 15%;
	float: left;
	width: 50%;
}